
.mider {
    width: 100%;
  }
  
  table {
    margin-top: 20px;
    width: 100%;
  }
  
  tr {
  }
  
  th {
    font-size: 14px;
    text-align: center;
    padding: 12px 0;
  }
  
  td {
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  button {
    margin: 0 6px;
    border: none;
  
  }
  
  .update-btn {
  }
  
  .delete-btn {
    color: red;
  }
  
  .p-inputgroup{
    margin: 10px 0;
  }
  